<div class="deposit">
  <h1>The list of deposits to validate</h1>

  <table id="users">
    <thead>
      <th scope="col">idUtilisateur </th>
      <th scope="col">monNumero</th>
      <th scope="col">type de Simulation</th>
      <th scope="col">duree</th>

    </thead>

    <tbody>
      <tr *ngFor="let item of results">

        <td>{{item.idUtilisateur}}</td>
        <td>{{item.monNumero}}</td>
        <td>{{item.typeSimulation}}</td>
        <td>{{item.duree}}</td>

      </tr>
    </tbody>


  </table>
</div>
